.navbar{
    display: flex;
    background-color: #111;
}

.logo img{
    height: 55px;
    position: relative;

}

.avatar{
    height: 50px;
    width: 50px ;
    position: absolute;
  top: 0;
  right: 0;
  margin-right: 7px;
}

.avatar img{
    height: 50px;
    width: 50px ;
    border-radius: 30px;

}


